body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.create,.already{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
/* Style for the modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border-radius: 10px;

    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.delete-button:hover {
    background-color: #c82333;
}
header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

.containerproperty h1 {
    margin: 0;
}

.property-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 1em;
    padding: 1em;
    flex: 1 1 calc(33% - 2em);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.property-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.property-card h2 {
    margin: 0.5em 0;
}

.property-card p {
    margin: 0.5em 0;
}

#property-listings .containerlisting {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formadd {
    width: 100%;
    max-width: 600px;
    margin: 2em auto;
    padding: 1em;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
}

.formadd h2 {
    margin: 0 0 1em 0;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="file"] {
    padding: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#addPropertyButton {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 2em auto;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#addPropertyButton:hover {
    background-color: #218838;
}

@media (max-width: 768px) {
    .property-card {
        flex: 1 1 100%;
    }

    .overall {
        flex-direction: column;
    }
}

.overall {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em;
    box-sizing: border-box;
}
.searchform { 
    margin-top: 10px;
    display: flex;
}
.contact-form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 100px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.srch {
    width: 50%;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.sbtn {
    width: auto;
    padding: 5px 10px; /* Adjust padding to make the button smaller */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}
.srch {
    margin-right: 5px; 
    width: 20%;
    /* Add some spacing between input and button */
}
.data {
    flex: 1 1 60%;
    padding: 1em;
}

.form-container {
    flex: 1 1 35%;
    padding: 1em;
}


.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
body {
    font-family: "Century Gothic", 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

.et-hero-tabs,
.et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #eee;
    text-align: center;
    padding: 0 2em;
    h1 {
        font-size: 2rem;
        margin: 0;
        letter-spacing: 1rem;
    }
    h3 {
        font-size: 1rem;
        letter-spacing: 0.3rem;
        opacity: 0.6;
    }
}

.et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
    &--top {
        position: fixed;
        top: 0;
    }
}

.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
    &:hover {
      color:white;
      background: rgba(102,177,241,0.8);
      transition: all 0.5s ease;
    }
}

.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease;
}

@media (min-width: 800px) {
  .et-hero-tabs,
  .et-slide {
    h1 {
        font-size: 3rem;
    }
    h3 {
        font-size: 1rem;
    }
  }
  .et-hero-tab {
    font-size: 1rem;
  }
}
.home{
    /* padding: 5%; */
    display: flex;
    flex-wrap: wrap;

}
#det{
    margin-top: 9%;
}
.homedata{
    width: 50%;
}
.homedata img{
    width: 50%;
}
.details{
    display: flex;
    flex-wrap: wrap;
}