/* General Styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

header {
  color: #fff;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: right;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 900;
  font-size: large;
  font-family: cursive;
  transition: 0.5s ease-in-out, transform 0.2s ease-in-out;
}

.nav-links a:hover {
  background: linear-gradient(45deg, skyblue, #080808, rgb(215, 34, 134));
  background-size: 200% 200%;
  animation: headerAnimation 15s ease infinite;
  border-radius: 20px;
  transform: scale(1.05);
  transition: 0.5s ease-in-out, transform 0.2s ease-in-out;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  animation: blink 1s infinite;
}

.hero {
  height: 100vh;
  background: url(./black.jpg);
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  padding-top: 60px; /* Adjust padding to avoid content overlap with fixed navbar */
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.237);
  color: #fff;
  padding: 50px;
  border-radius: 10px;
}

.cta-button {
  background-color: #ff6347;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.cta-button:hover {
  background-color: #e55337;
  transform: scale(1.05);
}

section {
  padding: 50px 20px;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

nav {
  background: linear-gradient(45deg, #d41a1a, skyblue, #33d55f);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 5px 40px;
}

/* Bright, Eye-Catching Gradient Background */
.bright-gradient {
  background: linear-gradient(45deg, #ff6f61, #ffde59, #28c76f, #7367f0);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  color: white;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
}
.ok {
  background-color: #000000;
  background-size: 200% 200%;
  animation: headerAnimation 15s ease infinite;
}
/* Animations */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes headerAnimation {
  0% {
    background-position: 0% 50%;
  }
  20% {
    background-position: 100% 50%;
  }
  40% {
    background-position: 0% 50%;
  }
  60% {
    background-position: 100% 50%;
  }
  80% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 2s ease-out;
}
/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  width: 20%;
  text-align: center;
}

.modal-content button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  color: #fff;
  background-color: #ff6f61;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  color: #fff;
  background-color: #ff6f61;
  border-radius: 10px;
}
